﻿@model LigaFootball.AccesoDatos.Datacontext.Empresas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form name="empresaForm" novalidate role="form">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Empresas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" show-errors>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Nombre", @ng_required = "true" } })
                <span class="help-block"
                      ng-if="empresaForm.Nombre.$error.required">Nombre is required</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.RazonSocial" } })
                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion1, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Direccion1" } })
                @Html.ValidationMessageFor(model => model.Direccion1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion2, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Direccion2" } })
                @Html.ValidationMessageFor(model => model.Direccion2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion3, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Direccion3" } })
                @Html.ValidationMessageFor(model => model.Direccion3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Correo" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @ng_model = "editableEmpresa.Telefono" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntidadId, "EntidadId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EntidadId", null, htmlAttributes: new { @class = "form-control", @ng_model = "editableEmpresa.EntidadId" })
                @Html.ValidationMessageFor(model => model.EntidadId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Cancel"
                       ng-click="cancelForm()" />
                <input type="submit" class="btn btn-primary" value="Submit"
                       ng-click="submitForm()" />
                <input type="reset" class="btn btn-warning" value="Reset"
                       ng-click="resetForm()" />
                <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
            </div>
        </div>

    </div>

</form>
