﻿@model IEnumerable<LigaFootball.AccesoDatos.Datacontext.Empresas>

@{
    ViewBag.Title = "Listado de Empresas";
}

<h2>@ViewBag.Title</h2>

<p>
    <input type="button" class="btn btn-primary" value="Add New Employee" ng-click="showEmpresasCreate()" />
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>

            <input type="button" class="btn btn-default" value="Edit" ng-click="showEmpresasEdit(@item.EmpresaId)" />
            @*@Html.ActionLink("Edit", "Edit", new { id=item.EmpresaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpresaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpresaId })*@
        </td>
    </tr>
}

</table>
